body {
    font-family: 'Quicksand', serif;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/landing.jpg);
}

a { color: inherit; } 

.lp-container {
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.lp {
    width: '100vw';
    height: '100vh';

}

.navbar {
   
    padding-top: 300px;
}

.header {
    font-family: 'Georgia', sans-serif;
    text-align: center;
    margin: 0;
    font-size: 2rem;
    padding-top: 50px;
    color: #000;
}



.features {
    padding: 1rem;
    justify-content: center;
    gap:2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.feature-box {
    background-color: #FAF4D3;
    border: 1rem solid #FAF4D3;
    border-radius: 5rem;
    padding: 10rem;
    margin-bottom: 10rem;
    width: 25rem;
}

.feature-box h3 {
    color: #1862a2;
    font-family: 'Georgia', sans-serif;
}

.footer {
    text-align: center;
    margin-top: 3.125rem;
    padding: 0.625rem;
    background-color: #6DA4AA;
    align-self: flex-end;
}