body {
    font-family: 'Quicksand', serif;
    background-color: #e795a2;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    max-width: 600px;
    background-color: #fff5d7;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h2{
    color: #e4475e;
    font-size: 3.5rem;
  }
  
  .quote-text {
    font-size: 2em;
    color: #2d3436;
    margin-bottom: 20px;
  }
  
  button1 {
    background-color: #6ab04c;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #4d8b36;
  }
  