body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}


.navbar {
    margin-left: 80px;
    padding-top: 300px;
}

.header {
    text-align: center;
    margin: 0;
    padding-top: 50px;
}



.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.feature-box {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 250px;
}

.feature-box h3 {
    color: #3498db;
}

.footer {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    background-color: #f2f2f2;
}